<!DOCTYPE HTML>
<HTML>
   <HEAD>
      <title>Ministry of Health and Family Welfare - GOVERNMENT OF INDIA</title>
		<script src="{{url_for('static', filename = 'jquery-3.4.1.js')}}"></script>
      <script src="{{url_for('static', filename = 'Main_JS.js')}}" type="text/javascript"></script>
      <link rel="stylesheet" href="{{url_for('static', filename = 'Main_CSS.css')}}">
      <link id="Logo" rel="icon" type="image/png" href="{{url_for('static', filename = 'TitleLogo.jpg')}}" sizes="64x64">
   </HEAD>
   <BODY>
      <div id="Main_Page">
         <div id="Sticky_NavBar_Bar">
            <table id="Strip1">
               <tr>
                  <td id="IndiaLogo"><img src="{{url_for('static', filename = 'IndiaLogo.png')}}" alt="India"></img></td>
                  <td id="BlankStrip1_1"></td>
                  <td id="DaySwitch"><img src="{{url_for('static', filename = 'DaySwitch.png')}}" alt="Day Mode"></img></td>
                  <td id="NightSwitch"><img src="{{url_for('static', filename = 'NightSwitch.png')}}" alt="Night Mode"></img></td>
                  <td id="BlankStrip1_2"></td>
               </tr>
            </table>
            <table id="Strip2">
               <tr>
                  <td id="HomeImage"><img src="{{url_for('static', filename = 'EmblemLogo.png')}}" alt="MoHFW"></img></td>
                  <td id="HomeText"><b>Ministry of Health and Family Welfare</b><BR />GOVERNMENT OF INDIA</td>
                  <td id="BlankStrip2_1"> </td>
                  <td id="HomeTabS"><a href="#HomeTab"><div id="HomeTabSBox" autofocus>Home</div></a></td>
                  <td id="CommunityTabS"><a href="#Stories"><div id="CommunityTabSBox">Stories</div></a></td>
                  <!--<td id="CommunityTabS"><div id="CommunityTabSBox">Community</div></td>-->
                  <td id="LatestUpdatesTabS"><a href="#LatestUpdates"><div id="LatestUpdatesTabSBox">Latest Updates</div></a></td>
                  <td id="FAQsTabS"><a href="#FAQs"><div id="FAQsTabSBox">FAQs</div></a></td>
                  <td id="LoginTabS"><div id="LoginTabSBox">LOGIN</div></td>
               </tr>
            </table>
            <table id="Strip3">
               <tr>
                  <td id="BlankStrip3_1"></td>
                  <td id="Call1">Helpline Number: +91-11-23978046</td>
                  <td id="Call2">Toll Free : 1075</td>
                  <td id="Email1">Helpline Email ID: ncov2019@gov.in</td>
                  <td id="BlankStrip3_2"></td>
               </tr>
            </table>
         </div>
         <div id="Main_Body">
            <div class="MainBody_Content" id="LowerBody">
               <div id="HomeTab">
                  <table id="StripsP1">
                     <tr id="StripP1_1">
                        <td class="PL"><a href="#TravelAdvice"><div id="TravelAdviceS">Travel Advice</div></a></td>
                        <td class="PL"><a href="#Strategies"><div id="StrategiesS">Strategies</div></a></td>
                        <td class="PL"><a href="#Mythbusters"><div id="MythbustersS">Mythbusters</div></a></td>
                        <td class="PL"><a href="#GlobalResearch"><div id="GlobalResearchS">Global Research</div></a></td>
                        <td class="PL"><div id="MediaResourcesS"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/press-briefings" target="_blank">Media Resources</a></div></td>
                     </tr>
                  </table>
                  <table id="StripsP2">
                     <tr id="StripP2_1">
                        <td id="UpdateDetails"><b>CoVID-19 INDIA</b><BR />{{tVal}}</td>
                        <td id="ActiveCases"><b><div id="ActiveF">{{aVal}}</div></b><BR />Active Cases</td>
                        <td id="CuredCases"><b><div id="CuredF">{{cVal}}</div></b><BR />Cured / Discharged</td>
                        <td id="DeathCases"><b><div id="DeathF">{{dVal}}</div></b><BR />Deaths</td>
                        <td id="MigratedCases"><b><div id="MigratedF">{{mVal}}</div></b><BR />Migrated</td>
                        <td id="GeneralDetails">Threat Level: <b>VERY HIGH</b><BR />Doubling Rate: <b>10.2 days</b><BR />Mortality Rate: <b>5%</b></td>
                        <td id="ScientificDetails">Infectivity: <b>High</b><BR />Severity: <b>Moderate</b><BR />Lethality: <b>Low</b></td>
                     </tr>
                  </table><BR />
                  <div class="SL1" id="LatestUpdates"><BR /><B><U>LATEST UPDATES</U></B><BR /><BR />
                     <div id="LatestUpdatesTBox">
                        <b>MAY 01, 2020, 16:42:40 IST</b><BR />
                        Coronavirus live updates: Centre allows movement of migrant workers by special trains<BR />
                        The number of coronavirus cases in India climbed to 35,043 according to the ministry of health, while the number of fatalities rose to 1,147. Meanwhile, more than 3.13 million people have been reported to be infected by the novel coronavirus globally. <BR /><BR />

                        <b>16:42 (IST), MAY 01</b><BR />
                        Two special trains will leave Rajasthan's Kota for Jharkhand with our students on board, today. I thank the Central Govt & Rajasthan CM Ashok Gehlot on behalf of the people of Jharkhand for their help: Jharkhand CM Hemant Soren<BR /><BR />

                        <b>16:41 (IST), MAY 01</b><BR />
                        Special trains transporting migrant workers have been designated as "Shramik Specials"<BR /><BR />

                        <b>16:37 (IST), MAY 01</b><BR />
                        Covid-19: Centre lists red, green zone districts for week after May 3<BR /><BR />

                        <b>16:30 (IST), MAY 01</b><BR />
                        As per the SOP, state governments decide the persons who will be allowed the travel and railways gives bulk tickets to the state nodal officers.<BR /><BR />

                        <b>16:17 (IST), MAY 01</b><BR />
                        Covid-19: Goa declared green zone, CM says fight far from over<BR /><BR />

                        <b>16:11 (IST), MAY 01</b><BR />
                        Total number of positive cases is now 35,043: Health ministry<BR /><BR />

                        <b>16:08 (IST), MAY 01</b><BR />
                        25.37% recovery rate: Health ministry<BR /><BR />

                        <b>16:08 (IST), MAY 01</b><BR />
                        564 patients cured: Health ministry<BR /><BR />

                        <b>16:08 (IST), MAY 01</b><BR />
                        1993 new cases in last 24 hours: Health ministry<BR /><BR />

                        <b>15:06 (IST), MAY 01</b><BR />
                        'One Nation One Voice': 100 singers unite to support frontline Covid-19 warriors, PM-CARES fund<BR /><BR />

                        <b>14:10 (IST), MAY 01</b><BR />
                        No petrol, ration in Goa to those not wearing masks<BR /><BR />

                        <b>13:29 (IST), MAY 01</b><BR />
                        We will surely give relaxations after May 3 seeing the condition of specific areas but be cautious & co-operate, else whatever we have achieved in the past few days will be lost. So, we will go ahead with patience and caution: Maharashtra chief minister Uddhav Thackeray<BR /><BR />

                        <b>08:46 (IST), MAY 01</b><BR />
                        Total cases in India rise to 35,043, death toll stands at 1,147: Health ministry<BR /><BR />

                        <b>21:15 (IST), APR 30</b><BR />
                        PM Modi holds a meeting to discuss ways to boost Coal & Mining sector<BR /><BR />

                        <b>21:05 (IST), APR 30</b><BR />
                        Bihar urges Centre to run special trains for facilitating return of migrants<BR /><BR />

                        <b>20:40 (IST), APR 30</b><BR />
                        Activist advocate Prashant Bhushan moves SC challenging registration of FIR against him in Gujarat for tweeting that when crores suffered due to 'forced lockdown', government is feeding masses the opium of Ramayana and Mahabharat serials on Doordarshan<BR /><BR />

                        <b>20:24 (IST), APR 30</b><BR />
                        17 deaths and 313 new positive cases reported in Gujarat in 24 hours; total in the state reaches 4395 including 214 deaths<BR /><BR />

                        <b>20:18 (IST), APR 30</b><BR />
                        SC seeks Centre's response on letting Nepali migrants to go home<BR /><BR />

                        <b>19:44 (IST), APR 30</b><BR />
                        Domestic air passenger traffic fell by 33% in March, says DGCA<BR /><BR />

                        <b>18:55 (IST), APR 30</b><BR />
                        7 Kashmiri students who were stranded in Delhi's Jia Sarai have been sent to Jammu & Kashmir by bus: Delhi Police<BR /><BR />

                        <b>18:46 (IST), APR 30</b><BR />
                        Maharashtra still the worst affected, Gujarat cases cross 4,000<BR /><BR />

                        <b>18:08 (IST), APR 30</b><BR />
                        30 new Covid-19 cases reported in Karnataka, taking the total number of cases to 565: State health department<BR /><BR />

                        <b>17:50 (IST), APR 30</b><BR />
                        IIT-Madras backed start-ups supply PPEs, face mask to healthcare workers<BR /><BR />

                        <b>17:43 (IST), APR 30</b><BR />
                        Latest figures from health ministry: 33,610 total cases; 24,162 active cases, 8,373 cured, 1,075 deaths<BR /><BR />

                        <b>17:23 (IST), APR 30</b><BR />
                        23 pilgrims who returned to Punjab from Sri Hazur Sahib in Maharashtra's Nanded have tested positive<BR /><BR />

                        <b>17:19 (IST), APR 30</b><BR />
                        PM Modi discusses strategies to promote investments, boost economy<BR /><BR />

                        <b>16:16 (IST), APR 30</b><BR />
                        Doubling rate now has slowed to 11 days, several states performing even better: Health ministry<BR /><BR />

                        <b>16:14 (IST), APR 30</b><BR />
                        51.2% fatalities in age group above 60 years: Health ministry<BR /><BR />

                        <b>16:12 (IST), APR 30</b><BR />
                        Central team praised report of Covid test being made available within 24 hours in Tamil Nadu: MHA<BR /><BR />

                        <b>16:10 (IST), APR 30</b><BR />
                        Central team found recovery rate in tamil Nadu very good, nearly 57%: MHA<BR /><BR />

                        <b>15:58 (IST), APR 30</b><BR />
                        India's Covid-19 doubling rate slower, mortality rate lower than US, Italy, Spain, UK<BR /><BR />

                        <b>15:37 (IST), APR 30</b><BR />
                        Sensex jumps 997 points to close at 33,718 led by gains in metal, auto stocks; Nifty reclaims 9,850<BR /><BR />

                        <b>13:34 (IST), APR 30</b><BR />
                        With 18 new cases, the total number of Covid-19 positive cases in Haryana has reached 329<BR /><BR />

                        <b>13:25 (IST), APR 30</b><BR />
                        Delhi police has issued movement pass to 5 people, including Riddhima Kapoor - the daughter of Rishi Kapoor, to go to Mumbai, says DCP (southeast) RP Meena, reports ANI<BR /><BR />

                        <b>12:34 (IST), APR 30</b><BR />
                        COVID-19 death toll in India rises to 1,074; cases 33,050<BR /><BR />
                     </div></BR />
                  </div><BR />
                  <div class="SL1" id="FAQs"><BR /><B><U>Frequently Asked Questions (FAQs)</U></B><BR /><BR />
                     <div id="FAQsTBox">
                        <b>What is corona virus</b><BR />
                        Corona viruses are a large family of viruses which may cause illness
                        in animals or humans. In humans, several coronaviruses are known
                        to cause respiratory infections ranging from the common cold to more
                        severe diseases such as Middle East Respiratory Syndrome (MERS)
                        and Severe Acute Respiratory Syndrome (SARS). The most recently
                        discovered coronavirus causes coronavirus disease COVID-19.<BR /><BR />

                        <b>What is COVID-19</b><BR />
                        COVID-19 is the infectious disease caused by the most recently
                        discovered corona virus. This new virus and disease were unknown
                        before the outbreak began in Wuhan, China, in December 2019.<BR /><BR />

                        <b>What are the symptoms of COVID-19</b><BR />
                        The most common symptoms of COVID-19 are fever, tiredness, and
                        dry cough. Some patients may have aches and pains, nasal
                        congestion, runny nose, sore throat or diarrhea. These symptoms are
                        usually mild and begin gradually. Some people become infected but
                        don’t develop any symptoms and don't feel unwell. Most people
                        (about 80%) recover from the disease without needing special
                        treatment. Around 1 out of every 6 people who gets COVID-19
                        becomes seriously ill and develops difficulty breathing. Older people,
                        and those with underlying medical problems like high blood pressure,
                        heart problems or diabetes, are more likely to develop serious illness.
                        People with fever, cough and difficulty breathing should seek medical
                        attention.<BR /><BR />

                        <b>How does COVID-19 spread</b><BR />
                        People can catch COVID-19 from others who have the virus. The
                        disease can spread from person to person through small droplets from
                        the nose or mouth which are spread when a person with COVID-19
                        coughs or exhales. These droplets land on objects and surfaces
                        around the person. Other people then catch COVID-19 by touching
                        these objects or surfaces, then touching their eyes, nose or mouth.
                        People can also catch COVID-19 if they breathe in droplets from a
                        person with COVID-19 who coughs out or exhales droplets. This is
                        why it is important to stay more than 1 meter (3 feet) away from a
                        person who is sick.<BR /><BR />

                        <b>Can the virus that causes COVID-19 be transmitted through the air?</b><BR />
                        Studies to date suggest that the virus that causes COVID-19 is mainly
                        transmitted through contact with respiratory droplets rather than
                        through the air. See previous answer on “How does COVID-19
                        spread?”<BR /><BR />

                        <b>Can CoVID-19 be caught from a person who has no symptoms?</b><BR />
                        The main way the disease spreads is through respiratory droplets
                        expelled by someone who is coughing. The risk of catching COVID-19
                        from someone with no symptoms at all is very low. However, many
                        people with COVID-19 experience only mild symptoms. This is
                        particularly true at the early stages of the disease. It is therefore
                        possible to catch COVID-19 from someone who has, for example, just
                        a mild cough and does not feel ill.<BR /><BR />

                        <b>Can I catch COVID-19 from the feces of someone with the disease?</b><BR />
                        The risk of catching COVID-19 from the feces of an infected person
                        appears to be low. While initial investigations suggest the virus may
                        be present in feces in some cases, spread through this route is not a 
                        main feature of the outbreak. The ongoing research on the ways
                        COVID-19 is spread and will continue to share new findings. Because
                        this is a risk, however, it is another reason to clean hands regularly,
                        after using the bathroom and before eating.<BR /><BR />

                        <b>What can I do to protect myself and prevent the spread of
                        disease</b><BR />
                        <b>Protection measures for everyone</b>
                        Stay aware of the latest information on the COVID-19 outbreak,
                        available on the national,state and local public health authority. Many
                        countries around the world have seen cases of COVID-19 and several
                        have seen outbreaks. Authorities in China and some other countries
                        have succeeded in slowing or stopping their outbreaks. However, the
                        situation is unpredictable so check regularly for the latest news.<BR /><BR />
                        
                        <b>You can reduce your chances of being infected or spreading COVID19 by taking some simple precautions:</b><BR />
                        • Regularly and thoroughly clean your hands with an alcoholbased hand rub or wash them with soap and water.
                        Why? Washing your hands with soap and water or using
                        alcohol-based hand rub kills viruses that may be on your hands.<BR />
                        • Maintain at least 1 metre (3 feet) distance between yourself and
                        anyone who is coughing or sneezing.
                        Why? When someone coughs or sneezes they spray small liquid
                        droplets from their nose or mouth which may contain virus. If you
                        are too close, you can breathe in the droplets, including the
                        COVID-19 virus if the person coughing has the disease.<BR />
                        • Avoid touching eyes, nose and mouth.
                        Why? Hands touch many surfaces and can pick up viruses.
                        Once contaminated, hands can transfer the virus to your eyes,
                        nose or mouth. From there, the virus can enter your body and
                        can make you sick.<BR />
                        • Make sure you, and the people around you, follow good
                        respiratory hygiene. This means covering your mouth and nose
                        with your bent elbow or tissue when you cough or sneeze. Then 
                        dispose of the used tissue immediately.
                        Why? Droplets spread virus. By following good respiratory
                        hygiene you protect the people around you from viruses such as
                        cold, flu and COVID-19.<BR />
                        • Stay home if you feel unwell. If you have a fever, cough and
                        difficulty breathing, seek medical attention and call in advance.
                        Follow the directions of your local health authority.<BR />
                        Why? National and local authorities will have the most up to date
                        information on the situation in your area. Calling in advance will
                        allow your health care provider to quickly direct you to the right
                        health facility. This will also protect you and help prevent spread
                        of viruses and other infections.<BR />
                        • Keep up to date on the latest COVID-19 hotspots (cities or local
                        areas where COVID-19 is spreading widely). If possible, avoid
                        traveling to places – especially if you are an older person or
                        have diabetes, heart or lung disease.<BR />
                        Why? You have a higher chance of catching COVID-19 in one of
                        these areas.<BR />
                        
                        <b>Protection measures for persons who are in or have recently visited (past
                        14 days) areas where COVID-19 is spreading</b><BR />
                        o Follow the guidance outlined above (Protection measures for
                        everyone)<BR />
                        o Self-isolate by staying at home if you begin to feel unwell, even
                        with mild symptoms such as headache, low grade fever (37.3 C
                        or above) and slight runny nose, until you recover. If it is
                        essential for you to have someone bring you supplies or to go
                        out, e.g. to buy food, then wear a mask to avoid infecting other
                        people.<BR />
                        Why? Avoiding contact with others and visits to medical facilities
                        will allow these facilities to operate more effectively and help
                        protect you and others from possible COVID-19 and other
                        viruses.<BR />
                        o If you develop fever, cough and difficulty breathing, seek
                        medical advice promptly as this may be due to a respiratory
                        infection or other serious condition. Call in advance and tell your
                        provider of any recent travel or contact with travelers.
                        Why? Calling in advance will allow your health care provider to
                        quickly direct you to the right health facility. This will also help to
                        prevent possible spread of COVID-19 and other viruses.<BR /><BR />

                        <b>How likely am I to catch COVID-19?</b><BR />
                        The risk depends on where you are - and more specifically, whether
                        there is a COVID-19 outbreak unfolding there.
                        For most people in most locations the risk of catching COVID-19 is
                        still low. However, there are now places around the world (cities or
                        areas) where the disease is spreading. For people living in, or visiting,
                        these areas the risk of catching COVID-19 is higher. Governments
                        and health authorities are taking vigorous action every time a new
                        case of COVID-19 is identified. Be sure to comply with any local
                        restrictions on travel, movement or large gatherings. Cooperating with
                        disease control efforts will reduce your risk of catching or spreading
                        COVID-19.
                        COVID-19 outbreaks can be contained and transmission stopped, as
                        has been shown in China and some other countries. Unfortunately,
                        new outbreaks can emerge rapidly. It’s important to be aware of the
                        situation where you are or intend to go.<BR /><BR />

                        <b>Should I worry about COVID-19?</b><BR />
                        Illness due to COVID-19 infection is generally mild, especially for
                        children and young adults. However, it can cause serious illness:
                        about 1 in every 5 people who catch it need hospital care. It is
                        therefore quite normal for people to worry about how the COVID-19
                        outbreak will affect them and their loved ones.
                        We can channel our concerns into actions to protect ourselves, our
                        loved ones and our communities. First and foremost among these
                        actions is regular and thorough hand-washing and good respiratory
                        hygiene. Secondly, keep informed and follow the advice of the local
                        health authorities including any restrictions put in place on travel,
                        movement and gatherings.<BR /><BR />

                        <b>Who is at risk of developing severe illness</b><BR />
                        While we are still learning about how COVID-2019 affects people,
                        older persons and persons with pre-existing medical conditions (such
                        as high blood pressure, heart disease, lung disease, cancer or
                        diabetes) appear to develop serious illness more often than others.<BR /><BR />

                        <b>Are antibiotics effective in preventing or treating the COVID-19?</b><BR />
                        No. Antibiotics do not work against viruses, they only work on
                        bacterial infections. COVID-19 is caused by a virus, so antibiotics do
                        not work. Antibiotics should not be used as a means of prevention or
                        treatment of COVID-19. They should only be used as directed by a
                        physician to treat a bacterial infection.<BR /><BR />

                        <b>Are there any medicines or therapies that can prevent or cure
                        COVID-19</b><BR />
                        While some western, traditional or home remedies may provide
                        comfort and alleviate symptoms of COVID-19, there is no evidence
                        that current medicine can prevent or cure the disease. We does not
                        recommend self-medication with any medicines, including antibiotics,
                        as a prevention or cure for COVID-19. However, there are several
                        ongoing clinical trials that include both western and traditional
                        medicines. We will continue to provide updated information as soon
                        as clinical findings are available.<BR /><BR />

                        <b>Is there a vaccine drug or treatment for COVID-19</b><BR />
                        Not yet. To date, there is no vaccine and no specific antiviral medicine
                        to prevent or treat COVID-2019. However, those affected should
                        receive care to relieve symptoms. People with serious illness should
                        be hospitalized. Most patients recover thanks to supportive care. 
                        Possible vaccines and some specific drug treatments are under
                        investigation. They are being tested through clinical trials.
                        The most effective ways to protect yourself and others against
                        COVID-19 are to frequently clean your hands, cover your cough with
                        the bend of elbow or tissue, and maintain a distance of at least 1
                        meter (3 feet) from people who are coughing or sneezing<BR /><BR />

                        <b>Is COVID-19 the same as SARS?</b><BR />
                        No. The virus that causes COVID-19 and the one that caused the
                        outbreak of Severe Acute Respiratory Syndrome (SARS) in 2003 are
                        related to each other genetically, but the diseases they cause are
                        quite different.<BR />
                        SARS was more deadly but much less infectious than COVID-19.
                        There have been no outbreaks of SARS anywhere in the world since
                        2003.<BR /><BR />

                        <b>Should I wear mask to protect myself</b><BR />
                        Only wear a mask if you are ill with COVID-19 symptoms (especially
                        coughing) or looking after someone who may have COVID-19.
                        Disposable face mask can only be used once. If you are not ill or
                        looking after someone who is ill then you are wasting a mask. There is
                        a world-wide shortage of masks, so We urge people to use masks
                        wisely.<BR />
                        We advises rational use of medical masks to avoid unnecessary
                        wastage of precious resources and mis-use of masks The most
                        effective ways to protect yourself and others against COVID-19 are to
                        frequently clean your hands, cover your cough with the bend of elbow
                        or tissue and maintain a distance of at least 1 meter (3 feet) from
                        people who are coughing or sneezing.<BR /><BR />

                        <b>How to put on use take off and dispose of a mask?</b><BR />
                        1. Remember, a mask should only be used by health workers, care takers,
                        and individuals with respiratory symptoms, such as fever and cough.<BR />
                        2. Before touching the mask, clean hands with an alcohol-based
                        hand rub or soap and water<BR />
                        3. Take the mask and inspect it for tears or holes.<BR />
                        4. Orient which side is the top side (where the metal strip is).<BR />
                        5. Ensure the proper side of the mask faces outwards (the
                        coloured side).<BR />
                        6. Place the mask to your face. Pinch the metal strip or stiff edge of
                        the mask so it moulds to the shape of your nose.<BR />
                        7. Pull down the mask’s bottom so it covers your mouth and your
                        chin.<BR />
                        8. After use, take off the mask; remove the elastic loops from
                        behind the ears while keeping the mask away from your face
                        and clothes, to avoid touching potentially contaminated surfaces
                        of the mask.<BR />
                        9. Discard the mask in a closed bin immediately after use.<BR />
                        10. Perform hand hygiene after touching or discarding the
                        mask – Use alcohol-based hand rub or, if visibly soiled, wash
                        your hands with soap and water.<BR /><BR />

                        <b>How long is the incubation period for COVID-19?</b><BR />
                        The “incubation period” means the time between catching the virus
                        and beginning to have symptoms of the disease. Most estimates of
                        the incubation period for COVID-19 range from 1-14 days, most
                        commonly around five days. These estimates will be updated as more
                        data become available.<BR /><BR />

                        <b>Can humans become infected with the COVID-19 from an animal
                        source?</b><BR />
                        Coronaviruses are a large family of viruses that are common in
                        animals. Occasionally, people get infected with these viruses which 
                        may then spread to other people. For example, SARS-CoV was
                        associated with civet cats and MERS-CoV is transmitted by
                        dromedary camels. Possible animal sources of COVID-19 have not
                        yet been confirmed.<BR />
                        To protect yourself, such as when visiting live animal markets, avoid
                        direct contact with animals and surfaces in contact with animals.
                        Ensure good food safety practices at all times. Handle raw meat, milk
                        or animal organs with care to avoid contamination of uncooked foods
                        and avoid consuming raw or undercooked animal products.<BR /><BR />

                        <b>Can I catch COVID-19 from my pet?</b><BR />
                        While there has been one instance of a dog being infected in Hong
                        Kong, to date, there is no evidence that a dog, cat or any pet can
                        transmit COVID-19. COVID-19 is mainly spread through droplets
                        produced when an infected person coughs, sneezes, or speaks. To
                        protect yourself, clean your hands frequently and thoroughly.<BR />

                        <b>How long does the virus survive on surfaces?</b><BR />
                        It is not certain how long the virus that causes COVID-19 survives on
                        surfaces, but it seems to behave like other corona viruses. Studies
                        suggest that corona viruses (including preliminary information on the
                        COVID-19 virus) may persist on surfaces for a few hours or up to
                        several days. This may vary under different conditions (e.g. type of
                        surface, temperature or humidity of the environment).<BR />
                        If you think a surface may be infected, clean it with simple disinfectant
                        to kill the virus and protect yourself and others. Clean your hands with 
                        an alcohol-based hand rub or wash them with soap and water. Avoid
                        touching your eyes, mouth, or nose.<BR /><BR />

                        <b>Is it safe to receive a package from any area where COVID-19 has
                        been reported?</b><BR />
                        Yes. The likelihood of an infected person contaminating commercial
                        goods is low and the risk of catching the virus that causes COVID-19
                        from a package that has been moved, travelled, and exposed to
                        different conditions and temperature is also low.<BR /><BR />

                        <b>Is there anything I should not do?</b><BR />
                        The following measures ARE NOT effective against COVID-2019 and
                        can be harmful:<BR />
                        • Smoking<BR />
                        • Wearing multiple masks<BR />
                        • Taking antibiotics (See question 10 "Are there any medicines of
                        therapies that can prevent or cure COVID-19?")<BR />
                        In any case, if you have fever, cough and difficulty breathing
                        seek medical care early to reduce the risk of developing a more
                        severe infection and be sure to share your recent travel history with
                        your health care provider.<BR /><BR />

                        We continue to monitor the latest research on this and other COVID19 topics and will update as new findings are available.<BR /><BR />
                     </div><BR />
                  </div><BR />
                  <div class="SL1" id="Stories"><BR /><B><U>STORIES</B></U><BR /><BR />
                     <table>
                        <tr id="SSR1">
                           <td id="S1"><a href="https://www.unicef.org/sdgs/protect-our-children-during-covid-19" target="_blank"><img src="{{url_for('static', filename = 'SSS1.jpg')}}"></img></a><BR /></td>
                           <td id="S2"><a href="https://www.unicef.org/coronavirus/covid-19/donate" target="_blank"><img src="{{url_for('static', filename = 'SSS2.jpg')}}"></img></a><BR /></td>
                           <td id="S3"><a href="https://www.unicef.org/coronavirus/5-tips-help-keep-children-learning-during-covid-19-pandemic" target="_blank"><img src="{{url_for('static', filename = 'SSS3.jpg')}}"></img></a><BR /></td>
                           <td id="S4"><a href="https://www.unicef.org/coronavirus/join-greta" target="_blank"><img src="{{url_for('static', filename = 'SSS4.jpg')}}"></img></a><BR /></td>
                        </tr>
                        <tr id="SSR2">
                           <td id="S5"><a href="https://www.unicef.org/coronavirus/vaccinations-and-covid-19-what-parents-need-know" target="_blank"><img src="{{url_for('static', filename = 'SSS5.jpg')}}"></img></a><BR /></td>
                           <td id="S6"><a href="https://www.unicef.org/coronavirus/supplying-fight-against-covid-19" target="_blank"><img src="{{url_for('static', filename = 'SSS6.jpg')}}"></img></a><BR /></td>
                           <td id="S7"><a href="https://www.unicef.org/coronavirus/covid-19-double-emergency" target="_blank"><img src="{{url_for('static', filename = 'SSS7.jpg')}}"></img></a><BR /></td>
                           <td id="S8"><a href="https://www.unicef.org/coronavirus/navigating-pregnancy-during-coronavirus-disease-covid-19-pandemic" target="_blank"><img src="{{url_for('static', filename = 'SSS8.jpg')}}"></img></a><BR /></td>
                        </tr>
                     </table>
                  </div><BR /><BR />
                  <div class="SL1" id="TravelAdvice"><BR /><B><U>TRAVEL ADVICE</U></B><BR /><BR />
                     <div id="TravelAdviceTBox"><BR />
                        <a href="https://www.who.int/news-room/articles-detail/joint-icao-who-statement-on-covid-19" target="_blank">Joint ICAO-WHO Statement on COVID-19</a><BR /><BR />
                        <a href="https://www.who.int/news-room/articles-detail/updated-who-recommendations-for-international-traffic-in-relation-to-covid-19-outbreak" target="_blank">Updated recommendations for international traffic in relation to COVID-19 outbreak</a><BR /><BR />
                        <a href="https://www.who.int/news-room/articles-detail/key-considerations-for-repatriation-and-quarantine-of-travellers-in-relation-to-the-outbreak-of-novel-coronavirus-2019-ncov" target="_blank">Key considerations for repatriation and quarantine of travellers in relation to the outbreak of novel coronavirus 2019-nCoV</a><BR /><BR />
                        <a href="https://www.who.int/news-room/articles-detail/updated-who-advice-for-international-traffic-in-relation-to-the-outbreak-of-the-novel-coronavirus-2019-ncov" target="_blank">Advice for international traffic in relation to the outbreak of the novel coronavirus 2019-nCoV</a><BR /><BR />
                        <a href="https://www.who.int/news-room/articles-detail/who-advice-for-international-travel-and-trade-in-relation-to-the-outbreak-of-pneumonia-caused-by-a-new-coronavirus-in-china" target="_blank">Advice for international travel and trade in relation to the outbreak of pneumonia caused by a new coronavirus in China</a><BR /><BR /><BR />
                     </div><BR />
                  </div><BR />
                  <div class="SL1" id="Strategies"><BR /><B><U>STRATEGIES, PLANS and OPERATIONS</U></B><BR /><BR />
                     <div id="StrategiesTBox"><BR />
                        <b>Strategic preparedness and response plan</b><BR />
                        This strategic preparedness and response plan outlines the public health measures that the international community stands ready to provide to support all countries to prepare for and respond to COVID-19. The document takes what we have learned so far about the virus and translates that knowledge into strategic action that can guide the efforts of all national and international partners when developing context-specific national and regional operational plans.<BR />
                        Draft operational planning guidance for UN country teams to support national preparedness and response for COVID-19. The purpose of the document is to provide a practical guide for the UNCTs and partners to develop a country level operational plan to support national governments to prepare for and respond to COVID‑19 in line with the Strategic preparedness and response plan.<BR />
                        <a href="https://www.who.int/docs/default-source/coronaviruse/srp-04022020.pdf?sfvrsn=7ff55ec0_4&download=true" target="_blank">Download PDF</a><BR /><BR />

	                        <b>COVID-19 Supply Chain System: Requesting and receiving supplies</b><BR />
                        The global COVID-19 outbreak is leading to an acute and drastic shortage of essential supplies, including personal protective equipment, diagnostics and clinical management.<BR />

                        At the request of the UN Secretary-General and WHO Director-General and in support of the UN Crisis Management Team, a Supply Chain Task Force has been convened to establish the COVID-19 Supply Chain System (CSCS).<BR />

                        This document aims to bring clarity on the process of requesting and receiving globally sourced COVID-19 critical supplies that are currently facing constrained market conditions, through the UN COVID-19 Supply Chain System (CSCS).<BR />
                        <a href="https://www.who.int/docs/default-source/coronaviruse/covid-19-supply-chain-system-requesting-and-receiving-supplies.pdf?sfvrsn=cd25bbbc_6&download=true" target="_blank">Download PDF</a><BR /><BR />
                     </div><BR />
                  </div><BR />
                  <div class="SL1" id="Mythbusters"><BR /><B><U>MYTHBUSTERS</U></B><BR /><BR />
                     <div id="MythbusterTBox"><BR />
                        <b>There are currently no drugs licensed for the treatment or prevention of COVID-19</b><BR />
                        While several drug trials are ongoing, there is currently no proof that hydroxychloroquine or any other drug can cure or prevent COVID-19. The misuse of hydroxychloroquine can cause serious side effects and illness and even lead to death. WHO is coordinating efforts to develop and evaluate medicines to treat COVID-19.<BR /><BR />

                        <b>Adding pepper to your soup or other meals DOES NOT prevent or cure COVID-19</b><BR />
                        Hot peppers in your food, though very tasty, cannot prevent or cure COVID-19. The best way to protect yourself against the new coronavirus is to keep at least 1 metre away from others and to wash your hands frequently and thoroughly. It is also beneficial for your general health to maintain a balanced diet, stay well hydrated, exercise regularly and sleep well.<BR /><BR />

                        <b>COVID-19 IS NOT transmitted through houseflies</b><BR />
                        To date, there is no evidence or information to suggest that the COVID-19 virus transmitted through houseflies. The virus that cause COVID-19 spreads primarily through droplets generated when an infected person coughs, sneezes or speaks. You can also become infected by touching a contaminated surface and then touching your eyes, nose or mouth before washing your hands. To protect yourself, keep at least 1-metre distance from others and disinfect frequently-touched surfaces. Clean your hands thoroughly and often and avoid touching your eyes, mouth and nose.<BR /><BR />

                        <b>Spraying and introducing bleach or another disinfectant into your body WILL NOT protect you against COVID-19 and can be dangerous</b><BR />
                        Do not under any circumstance spray or introduce bleach or any other disinfectant into your body. These substances can be poisonous if ingested and cause irritation and damage to your skin and eyes.<BR />
                        Bleach and disinfectant should be used carefully to disinfect surfaces only. Remember to keep chlorine (bleach) and other disinfectants out of reach of children.<BR /><BR />

                        <b>Drinking methanol, ethanol or bleach DOES NOT prevent or cure COVID-19 and can be extremely dangerous</b><BR />
                        Methanol, ethanol, and bleach are poisons. Drinking them can lead to disability and death. Methanol, ethanol, and bleach are sometimes used in cleaning products to kill the virus on surfaces – however you should never drink them. They will not kill the virus in your body and they will harm your internal organs.<BR />
                        To protect yourself against COVID-19, disinfect objects and surfaces, especially the ones you touch regularly. You can use diluted bleach or alcohol for that. Make sure you clean your hands frequently and thoroughly and avoid touching your eyes, mouth and nose.<BR /><BR />

                        <b>5G mobile networks DO NOT spread COVID-19</b><BR />
                        Viruses cannot travel on radio waves/mobile networks. COVID-19 is spreading in many countries that do not have 5G mobile networks.<BR />
                        COVID-19 is spread through respiratory droplets when an infected person coughs, sneezes or speaks. People can also be infected by touching a contaminated surface and then their eyes, mouth or nose.<BR /><BR />

                        <b>Exposing yourself to the sun or to temperatures higher than 25C degrees DOES NOT prevent the coronavirus disease (COVID-19)</b><BR />
                        You can catch COVID-19, no matter how sunny or hot the weather is. Countries with hot weather have reported cases of COVID-19. To protect yourself, make sure you clean your hands frequently and thoroughly and avoid touching your eyes, mouth, and nose.<BR /><BR />

                        <b>.You can recover from the coronavirus disease (COVID-19). Catching the new coronavirus DOES NOT mean you will have it for life.</b><BR />
                        Most of the people who catch COVID-19 can recover and eliminate the virus from their bodies. If you catch the disease, make sure you treat your symptoms. If you have cough, fever, and difficulty breathing, seek medical care early – but call your health facility by telephone first. Most patients recover thanks to supportive care.<BR /><BR />

                        <b>Being able to hold your breath for 10 seconds or more without coughing or feeling discomfort DOES NOT mean you are free from the coronavirus disease (COVID-19) or any other lung disease.</b><BR />
                        The most common symptoms of COVID-19 are dry cough, tiredness and fever. Some people may develop more severe forms of the disease, such as pneumonia. The best way to confirm if you have  the virus producing COVID-19 disease is with a laboratory test. You cannot confirm it with this breathing exercise, which can even be dangerous.<BR /><BR />

                        <b>Drinking alcohol does not protect you against COVID-19 and can be dangerous</b><BR />
                        Frequent or excessive alcohol consumption can increase your risk of health problems.<BR /><BR />

                        <b>COVID-19 virus can be transmitted in areas with hot and humid climates</b><BR />
                        The best way to protect yourself against COVID-19 is by maintaining physical distance of at least 1 metre from others and frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching your eyes, mouth, and nose.<BR /><BR />

                        <b>Cold weather and snow CANNOT kill the new coronavirus.</b><BR />
                        There is no reason to believe that cold weather can kill the new coronavirus or other diseases. The normal human body temperature remains around 36.5°C to 37°C, regardless of the external temperature or weather. The most effective way to protect yourself against the new coronavirus is by frequently cleaning your hands with alcohol-based hand rub or washing them with soap and water.<BR /><BR />

                        <b>Taking a hot bath does not prevent the new coronavirus disease</b><BR />
                        Taking a hot bath will not prevent you from catching COVID-19. Your normal body temperature remains around 36.5°C to 37°C, regardless of the temperature of your bath or shower. Actually, taking a hot bath with extremely hot water can be harmful, as it can burn you. The best way to protect yourself against COVID-19 is by frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching your eyes, mouth, and nose.<BR /><BR />

                        <b>The new coronavirus CANNOT be transmitted through mosquito bites.</b><BR />
                        To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose. To protect yourself, clean your hands frequently with an alcohol-based hand rub or wash them with soap and water. Also, avoid close contact with anyone who is coughing and sneezing.<BR /><BR />

                        <b>Are hand dryers effective in killing the new coronavirus?</b><BR />
                        No. Hand dryers are not effective in killing the 2019-nCoV. To protect yourself against the new coronavirus, you should frequently clean your hands with an alcohol-based hand rub or wash them with soap and water. Once your hands are cleaned, you should dry them thoroughly by using paper towels or a warm air dryer.<BR /><BR />

                        <b>Ultra-violet (UV) lamps should not be used to disinfect hands or other areas of your skin</b><BR />
                        UV radiation can cause skin irritation and damage your eyes.<BR />
                        Cleaning your hands with alcohol-based hand rub or washing your hands with soap and water are the most effective ways to remove the virus.<BR /><BR />

                        <b>How effective are thermal scanners in detecting people infected with the new coronavirus?</b><BR />
                        Thermal scanners are effective in detecting people who have developed a fever (i.e. have a higher than normal body temperature) because of infection with the new coronavirus.<BR />
                        However, they cannot detect people who are infected but are not yet sick with fever. This is because it takes between 2 and 10 days before people who are infected become sick and develop a fever.<BR /><BR />

                        <b>Do vaccines against pneumonia protect you against the new coronavirus?</b><BR />
                        No. Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenza type B (Hib) vaccine, do not provide protection against the new coronavirus.<BR />
                        The virus is so new and different that it needs its own vaccine. Researchers are trying to develop a vaccine against 2019-nCoV, and WHO is supporting their efforts.<BR />
                        Although these vaccines are not effective against 2019-nCoV, vaccination against respiratory illnesses is highly recommended to protect your health.<BR /><BR />

                        <b>Can regularly rinsing your nose with saline help prevent infection with the new coronavirus?</b><BR />
                        No. There is no evidence that regularly rinsing the nose with saline has protected people from infection with the new coronavirus.<BR />
                        There is some limited evidence that regularly rinsing nose with saline can help people recover more quickly from the common cold. However, regularly rinsing the nose has not been shown to prevent respiratory infections.<BR /><BR />

                        <b>Can eating garlic help prevent infection with the new coronavirus?</b><BR />
                        Garlic is a healthy food that may have some antimicrobial properties. However, there is no evidence from the current outbreak that eating garlic has protected people from the new coronavirus.<BR /><BR />

                        <b>Does the new coronavirus affect older people, or are younger people also susceptible?</b><BR />
                        People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus.<BR />
                        WHO advises people of all ages to take steps to protect themselves from the virus, for example by following good hand hygiene and good respiratory hygiene.<BR /><BR />

                        <b>Are antibiotics effective in preventing and treating the new coronavirus?</b><BR />
                        No, antibiotics do not work against viruses, only bacteria.<BR />
                        The new coronavirus (2019-nCoV) is a virus and, therefore, antibiotics should not be used as a means of prevention or treatment.<BR />
                        However, if you are hospitalized for the 2019-nCoV, you may receive antibiotics because bacterial co-infection is possible.<BR /><BR />

                        <b>Are there any specific medicines to prevent or treat the new coronavirus?</b><BR />
                        To date, there is no specific medicine recommended to prevent or treat the new coronavirus (2019-nCoV).<BR />
                        However, those infected with the virus should receive appropriate care to relieve and treat symptoms, and those with severe illness should receive optimized supportive care. Some specific treatments are under investigation, and will be tested through clinical trials. WHO is helping to accelerate research and development efforts with a range or partners.<BR /><BR />
                     </div><BR />
                  </div><BR />
                  <div class="SL1" id="GlobalResearch"><BR /><B><U>GLOBAL RESEARCH</U></B><BR /><BR />
                     <div id="GlobalResearchTBox"><BR />
                        <a href="https://www.who.int/teams/blueprint/covid-19" target="_blank">Update on research activities for novel Coronavirus</a><BR /><BR />
                        <a href="https://www.who.int/ictrp/en/" target="_blank">International clinical Trials Registry platform</a><BR /><BR />
                        <a href="https://www.who.int/diagnostics_laboratory/EUL/en/" target="_blank">Covid-19 Emergency Use Listing Procedure (EUL)</a><BR /><BR />
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/global-research-on-novel-coronavirus-2019-ncov/solidarity-clinical-trial-for-covid-19-treatments" target="_blank">"Solidarity" clinical trial for COVID-19 treatments</a><BR /><BR />
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/global-research-on-novel-coronavirus-2019-ncov/solidarity-trial-accelerating-a-safe-and-effective-covid-19-vaccine" target="_blank">Accelerating a safe and effective COVID-19 vaccine</a><BR /><BR />
                     </div><BR />
                  </div>
               </div><!--
               <div id="CommunityTab">
               </div>
               <div id="LoginTab">
               </div>-->
            </div>
            <div class="MainBody_Content" id="FooterBody">
               <div id="FooterContent"><b>Disclaimer:</b><BR />Website content managed by Ministry of Health and Family Welfare, GOI Design, developed and hosted by National Information Centre (NIC).<BR /></div>
            </div>
         </div><!--
         <div class="FloatingWindow" id="GoToTop">
            <div class="FW_GTTI_PB">
               <img src="chevron.png" alt="Go To Top" class="FW_GTTImage" id="FWI_Goto_Top" />
            </div>
         </div>-->
      </div>
   </BODY>
</HTML>
